env
config_files/*.json
slurm/jobs/*
slurm/scripts/*
slurm/submission.py
output*/*
.vscode/*
**/__pycache__
*.ipynb
src/*.ipynb
dataset_test.py
active_learning.egg-info/
build/
dist/
new_output/
*.png
